.CinemaCatalog {
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 /* grid-template-rows: repeat(4, 1fr); */
 /* padding-bottom: 50px; */
 /* grid-row-gap: 30px; */
 /* grid-auto-rows: 350px; */
}

.CinemaCard {
 display: grid;
 justify-self: center;
 width: 250px;
 margin: 25px;
}
