.CinemaCardL {
 display: block;
 width: 250px;
 height: 380px;
 border: none;
 border-radius: 1em;
 overflow: hidden;
 border: 1px solid #e0e0e09f;
 -webkit-box-shadow: 0px 0px 38px 12px #0c0202ef;
 -moz-box-shadow: 0px 0px 38px 12px #0c0202ef;
 box-shadow: 0px 0px 44px 15px #0c0202ef;
}
.CinemaCardImage {
 display: block;
 transition: 0.9s;
 width: 250px;
 height: 380px;
 filter: contrast(85%);
}

.CinemaCardLink {
 display: block;
 display: contents;
 transition: 0.9s;
 width: 250px;
 height: 380px;
 background-color: #fff;
}

.CinemaCard:hover img {
 scale: 1.05;
 filter: contrast(105%);
 transition: 0.4s;
}
