@import-normalize; /* bring in normalize.css styles */

body {
 margin: 0;
 color: #0339696a;
 background-color: #002147;
 background-image: url(./images/cinema.jpg);
 /* background-image: url(./images/0099.jpeg); */
 background-image: url(./images/fon.jpg);
 background-size: cover;
 background-position: center;
 background-attachment: fixed;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}
@import url('https://fonts.cdnfonts.com/css/bringme');
@import url('https://fonts.cdnfonts.com/css/hubballi');
@import url('https://fonts.cdnfonts.com/css/langar');
@import url('https://fonts.cdnfonts.com/css/breathe-fire-iv-95305');
@import url('https://fonts.cdnfonts.com/css/mirey-personal-use-96173');
@import url('https://fonts.cdnfonts.com/css/hicks-bryant');
@import url('https://fonts.cdnfonts.com/css/banirmet-dua');
@import url('https://fonts.cdnfonts.com/css/montrealserial');
@import url('https://fonts.cdnfonts.com/css/the-laker');
@import url('https://fonts.cdnfonts.com/css/gremlin');
@import url('https://fonts.cdnfonts.com/css/tt-wellingtons-trl');
@import url('https://fonts.cdnfonts.com/css/srinova');
@import url('https://fonts.cdnfonts.com/css/indie-flower?styles=20399');

code {
 font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
 /* font-style: italic; */
 font-family: 'Bringme', sans-serif;
 font-size: 20px;
 font-weight: 100;
 color: #007bb8bc;
 text-decoration: none;
 transition: 0.3s;
}

ul {
 list-style-type: none;
}

container {
 display: grid;
 justify-content: center;
 width: 100%;
 height: 100vh;
 padding: 120px 0px;
}

.App {
 font-family: 'Gremlin', sans-serif;
 font-size: 10px;
 font-weight: 100;
 display: flex;
 flex-direction: column;
}

.Navigations {
 position: fixed;
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 height: 100px;
 width: 100vw;
 margin: 0;
 padding: 0;
 z-index: 99;
 box-shadow: 0 0 28px 27px #00050b;
 background: #010911f6;
 backdrop-filter: blur(8px);
 -webkit-backdrop-filter: blur(8px);
 border-bottom: 1px solid #a89c9c20;
}

.NavigationsItem {
 display: flex;
 justify-content: center;
 align-items: center;
 cursor: pointer;
 width: 250px;
 height: 70px;
 overflow: hidden;
 border-radius: 8px;
 font-family: 'Banirmet Dua', sans-serif;
 font-family: 'Hicks Bryant', sans-serif;
 font-family: 'Mirey Personal Use', sans-serif;
 font-family: 'Breathe Fire IV', sans-serif;
 font-family: 'Langar', sans-serif;
 font-family: 'Hubballi', sans-serif;
 font-weight: 900;
 font-size: 25px;

 /* color: #fcf1f1e5; */
}

.NavigationsItem:nth-child(1) {
 /* border-right: 1px solid #004671; */
 border-left: 1px solid transparent;
}
/* .NavigationsItem {
 border-left: 1px solid #004671;
 background-color: #70717215;
} */
.NavigationsItem:hover a {
 color: #003e78be;
 transition: 0.3s;
}
